/* Created by: Remy Skelton
* Created on: Mar 2023
* This CSS file defines the style for index.html
* ICS2O-Unit2-01-HTML-JS-HelloWorld
*/

body {
	background-color: #ad98fb;
}

h2 {
	background-color: rgb(103, 233, 125);
	color: hsl(241, 100%, 78%);
	padding: 40px;
	text-align: center;
}

H5 {
	background-color: #c0f958;
  color: hsl(238, 100%, 24%);
}

p {
	background-color: #58f980;
}



  
